<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Voice_Recording.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67CDD0762B16283B006DD818</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67CDD0862B16283C006DD818</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67CDD0902B16283C006DD818</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
